In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Regression/master/IceCreamData.csv')

In [21]:

X= dataset['Temperature'].values
Y= dataset['Revenue'].values

dataset

     Temperature     Revenue
0      24.566884  534.799028
1      26.005191  625.190122
2      27.790554  660.632289
3      20.595335  487.706960
4      11.503498  316.240194
..           ...         ...
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

[500 rows x 2 columns]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X ,Y, test_size=0.1)

In [13]:
from sklearn.ensemble import RandomForestRegressor

regressor= RandomForestRegressor(n_estimators =10, random_state =0)

regressor.fit(X_train.reshape(-1,1),Y_train.reshape(-1,1))

C:\Users\NITHES~1\AppData\Local\Temp/ipykernel_3388/1710823212.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train.reshape(-1,1),Y_train.reshape(-1,1))

RandomForestRegressor(n_estimators=10, random_state=0)

In [15]:
Y_pred= regressor.predict(X_test.reshape(-1,1))

In [20]:
df= pd.DataFrame({'Real Values':Y_test.reshape(-1),'Predicted Values':Y_pred.reshape(-1)})
df

    Real Values  Predicted Values
0    418.137279        463.676859
1    401.924792        401.489619
2    572.537048        609.626451
3    242.236208        245.333975
4    473.499631        484.948353
5    417.354839        465.642664
6    448.930443        497.804276
7    319.349462        294.677172
8    809.463411        814.286557
9    533.324324        505.644674
10   691.855484        704.105657
11   583.855231        558.567548
12   391.715299        405.251301
13   570.990932        534.364539
14   726.233771        623.758531
15   456.524341        497.804276
16   698.971806        704.105657
17   249.884252        214.231506
18   520.470310        502.155714
19   284.772789        315.421842
20   697.147473        665.223202
21   257.078777        312.501223
22   483.489769        534.794310
23   458.860905        504.627515
24   198.121563        211.564549
25   851.343096        858.941935
26   618.235765        679.524820
27   578.360435        552.539858
28   170.237756        184.137264
29   603.091382        596.060665
30   747.963270        747.453860
31   739.387272        748.014580
32   306.749930        281.867752
33   607.542148        576.245457
34   574.710649        568.255598
35   303.734381        279.667446
36   319.402903        330.796932
37   603.324631        604.467717
38   540.798122        539.447507
39   372.990606        383.272989
40   771.789537        797.041934
41   733.215828        733.579084
42   242.509855        158.215626
43   459.735350        466.160370
44   537.664801        540.914728
45   374.955702        339.378317
46   675.828916        663.668785
47   542.608070        534.364539
48   362.515216        365.624954
49   558.636932        542.689527